.container
  %h2 Brackets
= link_to board_path(@article) do
  .article
    - if @article.eyecatch.attached?
      .article_image
        = image_tag @article.eyecatch
    %h1.article_title= @article.title
    - if model_signed_in? && current_model.has_written?(@article)
      .article_detail_actions
        .dropdown
          = image_tag 'Combined Shape.svg', class: 'dropbtn'
          .dropdown-content.mini
            = link_to 'Edit', edit_article_path(@article)
            = link_to 'Delete', article_path(@article), data: { method: 'delete', confirm: 'Delete OK？' }
    .article_content
      = @article.content
    .article_detail
      = image_tag 'Oval1.png'
    
.container           
  = link_to new_article_path do
    .card
      .card_content
        .card_create
          %h1 +Add new card
