.container
  .card
    .card_image
      = image_tag 'Photo.png'
    .card_content
      .card_comment
        = image_tag 'Shape.png'
        %span 23
      .card_detail
        = image_tag 'Oval.png'
        %div
          
  .card
    .card_image
      = image_tag 'Photo.png'
    .card_content
      .card_comment
        = image_tag 'Shape.png'
        %span 23
      .card_detail
        = image_tag 'Oval.png'
        %div
          
  .card
    .card_image
      = image_tag 'Photo.png'
    .card_content
      .card_comment
        = image_tag 'Shape.png'
        %span 23
      .card_detail
        = image_tag 'Oval.png'
        %div
          
