.container
  %h2 Card
  .article_detail_actions
    -# .dropdown
    -#   = image_tag 'Combined Shape.svg', class: 'dropbtn'
    -#   .dropdown-content.mini
    -#     = link_to 'Edit', edit_article_path(@article)
    -#     = link_to 'Delete', article_path(@article), data: { method: 'delete', confirm: 'Delete OK？' }
  - if @article.eyecatch.attached?
    .article_image
      .article_photo
        = image_tag @article.eyecatch
.article
  %h1.article_title= @article.title
  .article_content
    = @article.content
  
    

.article
  .article_list
    %h2 List of comments
    - @comments.each do |comment|
      %ul
        .article_comment
          %li= comment.content

.container           
  = link_to new_board_comment_path(@article) do
    .card
      .card_content
        .card_create
          %h1 +Add new comment
